canvas[resize] {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:10;
    background-color: black;
}

video {
    position:absolute;
    top:0;
    left:0;
    z-index:9;
}


